<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <filter>
    <filter-name>CharEncodingFilter</filter-name>
    <filter-class>com.baocloud.yunku.web.CharEncodingFilter</filter-class>
    <init-param>
      <param-name>charendoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>CheckUnloginFilter</filter-name>
    <filter-class>com.baocloud.yunku.web.CheckUnloginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CheckUnloginFilter</filter-name>
    <url-pattern>/user/user_base_info.jsp</url-pattern>
    <url-pattern>/user/user_bind_mobile.jsp</url-pattern>
    <url-pattern>/user/user_inte.jsp</url-pattern>
    <url-pattern>/user/user_set_name.jsp</url-pattern>
    <url-pattern>/user/user_sign.jsp</url-pattern>
    <url-pattern>/user/user_update_head.jsp</url-pattern>
    <url-pattern>/user/user_update_pwd.jsp</url-pattern>
    <url-pattern>/video/video_pub.jsp</url-pattern>
    <url-pattern>/video/video_pub_result.jsp</url-pattern>
  </filter-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>http://www.baocloud.com/javaee/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://www.baocloud.com/javaee/jstl/fmt</taglib-uri>
      <taglib-location>/WEB-INF/fmt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://www.baocloud.com/javaee/jstl/fn</taglib-uri>
      <taglib-location>/WEB-INF/fn.tld</taglib-location>
    </taglib>
  </jsp-config>
  <session-config>
    <session-timeout>5</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>
</web-app>